.navbar {
    border-radius: 0;
    margin-bottom: 0;
    background: rgba(0, 0, 0, 0);
    z-index: 999;
    transition-duration: 1s;
    
    .navbar-header {
    
        .navbar-toggle {
            color: #fff;
            border: transparent;
            
            &:hover {
                background-color: rgba(255, 255, 255, 0.3);
                color: #000;
            }
        }
    
        .navbar-brand {
            color: #ecf0f1;
            font-size: 22px;
            
            &:hover {
                color: #3498db;
            }
        }
        
    }
    
    .navbar-collapse {
        .navbar-nav {
            margin-right: 15px;

            li a {
                color: #ecf0f1;
                font-weight: bold;
                display: block;
                height: 65px;
                padding: 8px 10px 10px 10px;
                line-height: 50px;
                margin: 0 5px;
                
                &:hover, &:focus, &:active {
                    background-color: rgba(0, 0, 0, 0);
                    color: #3498db
                }
            }
    
            .active {
                color: #3498db;
                border-bottom: 3px solid #3498db
            }
        }
    }
}

@media screen and (max-width:767px) {
    .navbar {
        .navbar-collapse {
            background-color: rgba(0, 0, 0, 0.5);
            border-bottom: 2px solid rgba(255, 255, 255, 0.7);
    
            .navbar-nav {
                margin: 0;
                margin-bottom: 10px;
    
                li {
                    padding-top: 5px;
    
                    a {
                        text-align: center;
                    }
                }
            }
        }
    }
}