<?php
$finder = PhpCsFixer\Finder::create()
    ->exclude(['server', 'vendor'])
    ->in(__DIR__)
;
return PhpCsFixer\Config::create()
    ->setRules([
        '@PSR2' => true
    ])
    ->setFinder($finder)
    ->setUsingCache(false)
;
