.dark-background {
    background-color: #ecf0f1;
}

.articles {
    
    article {
        display: flex;
        box-shadow: 0 2px 4px rgba(0,0,0,0.18);
        margin-bottom: 16px;
        border-radius: 2px;
        position: relative;
        background-color: white;
        
        .image {
            flex: 1;
            max-width: 350px;
            
            img {
                max-width: 300px;
            }
            
            .read-box {
                display: none;
            }
            
        }
        
        .content {
            flex: 1;
        }
        
        .desktop-link {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border: 2px solid transparent;
    
            &:hover {
                border: 2px solid #3498db;
                background-color: rgba(52, 152, 219, 0.18);
            }
        }
        
    }
    
    @media screen and (max-width: 767px) {
        article {
            flex-direction: column;
            padding: 0 0 16px 0;
            
            .image {
                max-width: 100%;
                display: flex;
                
                .read-box {
                    flex: 1;
                    display: block;
                    position: relative;
                    
                    .read-link {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #3498db;
                        color: white;
                        
                        &:hover, &:active {
                            background-color: darken(#3498db, 10%);
                            text-decoration: none;
                        }
                    }
                }
                
                img {
                    flex: 1;
                    display: block;
                    max-width: 100%;
                    height: auto;
                }
            }
            
            .content {
                padding: 0 16px;
            }
        }
    }
    
}

.view-article {

    p {
        font-size: 18px;
        line-height: 1.75;
        margin-bottom: 16px;

        a {
            color: #12283a;
            font-weight: 700;
            padding-bottom: .25rem;
            text-decoration: none;
            border-bottom-width: 2px;
            border-color: #12283a;
        }

    }

    .quote {
        @apply text-grey-dark text-3xl italic my-8;
    }

    h1 {
        margin-bottom: 2rem;
    }

}