.dark-background {
    background-color: #ecf0f1;
}

.inline-link {
    @apply text-theme-darkest border-theme-darkest;
    font-weight: 700;
    padding-bottom: .25rem;
    text-decoration: none;
    border-bottom-width: 2px;
}

.view-article {

    p {
        @apply text-lg mb-4;
        line-height: 1.75;

        a {
            @extend .inline-link;
        }

    }

    ul {
        @apply list-disc text-lg mb-4;

        li {
            a {
                @extend .inline-link;
            }
        }
    }

    ol {
        @apply list-decimal text-lg mb-4;
    }

    .caption {
        @apply block -mt-2 text-sm text-gray-600 text-center;

        &.left {
            @apply text-left;
        }
    }

    .quote {
        @apply text-gray-600 text-3xl italic my-8;
    }

    h1 {
        @apply mb-4;
    }

    h2 {
        @apply mt-8 mb-4;
    }

    code {
        @apply bg-gray-300 block p-8 break-words overflow-x-scroll;
    }

}
