body,
html,
main {
    height: 100%
}

.link {
    color: #12283a;
    font-weight: 700;
    padding-bottom: .25rem;
    text-decoration: none;

    &:hover, &--underline {
        border-bottom-width: 2px;
        border-color: #12283a;
    }
}