@import "globals";
@import "layout";
@import "navbar";
@import "work";
@import "about";
@import "articles";

html {
    position: relative;
    min-height: 100%;
    width: 100%;

    body {
        background-color: white;
    
        .row {
            margin-bottom: 20px;
    
            .modal-content {
                border-radius: 0;
    
                #modal-container {
                    padding: 0 10px;
    
                    .form-control {
                        border-radius: 0;
                    }
                }
    
                .modal-footer {
                    border-top: 0;
                }
            }
        }
    }
}

.cd-bg-1 {
    background-image: url("/images/chicago_small.jpg")
}

.cd-bg-2 {
    background-color: #34495e
}

.overlay-1 {
    //background-color: rgba(44, 62, 80, 0.7);
    //background-color: rgba(52, 152, 219, 0.7);
    background-color: rgba(41, 128, 185, 0.7);
}

.cd-color-1 {
    background-color: white;
}

@media screen and (max-width:767px) {
    .cd-scrolling-bg .cd-container {
        padding: 60px;
        width: 100%
    }
    .btn-stories {
        left: 40%
    }
}

.form-horizontal .form-group input,
.form-horizontal .form-group textarea {
    border: 1px solid #bdc3c7
}

.form-horizontal .form-group input:focus,
.form-horizontal .form-group textarea:focus {
    border: 1px solid #3498db;
    color: #2c3e50
}

.form-horizontal .form-group .btn {
    float: right;
    margin-right: 15px;
    border: 0
}

.form-horizontal .form-group .btn:hover {
    background-color: #2980b9
}