{% extends "master/dashboard.twig" %}

{% block content %}
    <h2>Add Work</h2>
    <form method="post" action="{{ url }}action" enctype="multipart/form-data">
        <div class="form-group">
            <label for="title">Title: </label>
            <input type="text" class="form-control" name="title" id="title" placeholder="Title" required>
        </div>
        <div class="form-group">
            <label for="image">Image: </label>
            <div class="input-group">
                <span class="input-group-btn">
                    <span class="btn btn-primary btn-file">
                        Browse… <input type="file" name="image" id="image">
                    </span>
                </span>
                <input type="text" class="form-control" id="work-label" readonly="" placeholder="No File Selected">
            </div>
        </div>
        <div class="form-group">
            <label for="summary">Summary: </label>
            <textarea class="form-control" name="summary" id="summary" placeholder="Summary" rows="3" required></textarea>
        </div>
        <div class="form-group">
            <label for="url">URL: </label>
            <input type="text" class="form-control" name="url" id="url" placeholder="URL" required>
        </div>
        <button type="submit" class="btn btn-primary pull-right" name="add_work">Save work</button>
    </form>
{% endblock %}